# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Redis
dump.rdb
*.rdb

# Environment
.env
*.env


# IDE
.vscode/
.idea/
*.swp
*.swo

data.json