Django==5.0.1
django-allauth==0.57.0
Pillow==10.2.0
pyairtable==3.2.0
python-decouple==3.8
reportlab==4.4.1
Requests==2.32.5
gunicorn==23.0.0
whitenoise>=6,<7
celery==5.3.6
redis==5.0.1
django-storages==1.14.4
boto3==1.35.36
psycopg2-binary
django-csp